!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title  Chatspace
  %body
    #wrapper
      .sidebar
        .user-info
          = render "user-info"
        .groups
          = render "group"
          = render "group"
          = render "group"
          = render "group"

      .chat
        .header
          =render "header-group"
        .messages
          =render "message"
          =render "message"
          =render "message"
          =render "message"
          =render "message"
          =render "message"


        .footer
          =render "input"
